* {
    font-family: 'rubik', sans-serif ;
    line-height: 1;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

 h2, h3, h4 {
    color: #555555  !important;
}
body               
{

    color: #333333 !important;
    
    font-family: 'rubik', sans-serif;

   background:rgb(241, 245, 251)
    
}
